POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mtracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MTRACKER_REGION=eu

MTRACKER_SYNC_INTERVAL_HOURS=6
MTRACKER_SYNC_REQUEST_DELAY_MS=250

RAIDERIO_BASE_URL=https://raider.io/api/v1

MTRACKER_S2S_TOKEN=generate-a-big-token-here

MTRACKER_ADMIN_TOKEN=some-admin-token

LOG_LEVEL_MTRACKER=INFO
LOG_LEVEL_SQL=INFO

SERVER_PORT=8080
