MONGODB_URI=mongodb://localhost:27017/mtracker_db
MONGODB_DATABASE=mtracker_db

MTRACKER_REGION=eu

MTRACKER_SYNC_INTERVAL_HOURS=6
MTRACKER_SYNC_REQUEST_DELAY_MS=250

RAIDERIO_BASE_URL=https://raider.io/api/v1

MTRACKER_S2S_TOKEN=generate-a-big-token-here

MTRACKER_ADMIN_TOKEN=some-admin-token

LOG_LEVEL_MTRACKER=INFO
LOG_LEVEL_MONGO_DRIVER=WARN

SERVER_PORT=8080
